.single-recipe .image-sec .imagewrapper img {
  border-radius: 0px;
}
.cooktime-sec {
  clear: both;
}
.cooktime-sec ul {
  display: flex;
  padding: 0px;
  list-style-type: none;
}
.cooktime-sec ul li {
  flex: 0 50%;
}
.cooktime-sec ul li h3 {
  font-size: 15px;
}
.cooktime-sec ul li p {
  font-size: 20px;
}
.item-content {
  padding: 20px;
}
.item-content-left {
  display: inline-block;
  width: 100%;
  position: relative;
}
.item-content-left .float-left {
  float: left;
  display: inline-block;
}
.item-content-left .float-right {
  float: right;
  display: inline-block;
}
.item-content-left .float-right .edit-item,
.item-content-left .float-right .delete-item {
  width: 30px;
  display: block;
  display: inline-block;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  padding: 5px 7px 6px;
  box-shadow: 0px 1px 3px 3px #e6e6e6;
}
.item-content-left .float-right .edit-item:hover,
.item-content-left .float-right .delete-item:hover {
  cursor: pointer;
}
.inplace-confirm{
  display: inline-block;
}
.item-content-left .float-right .edit-item {
  background: #f3b100;
}
.item-content-left .float-right .delete-item {
  background: #000;
}
.item-content-left .float-right .edit-item img {
  width: 100%;
}
.item-content-left .float-right .delete-item img {
  width: 100%;
  position: relative;
  left: 1px;
}
.header {
  padding: 20px 20px;
  align-items: flex-start;
}
.back-button {
  width: 15px;
}
.back-button:hover{
  cursor: pointer;
}
.back-button img {
  width: 100%;
}
.single-recipe {
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.item-content {
  height: 100%;
}
.image-sec {
  margin-bottom: 25px;
}
.ingrediants-sec {
  margin-top: 20px;
  clear: both;
}
.ingrediants-sec ul, .preparation-step ul{
    margin-top: 10px;
}
.ingrediants-sec ul,
.preparation-step ul {
  list-style-type: disc;
  padding-left: 15px;
}
.ingrediants-sec ul li,
.preparation-step ul li {
  padding-bottom: 10px;
}
.single-recipe .item-content {
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 40px;
  display: inline-block;
  width: 100%;
  padding: 15px 30px;
}
.favourite-icon.active span{ 
  color:#f3b100
}

.inplace-confirm .main-body {
  text-align: center;
  color: #000;
  font-size: 25px;
  position: absolute;
  box-shadow: 0px 1px 6px 2px #e6e6e6;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  transition: all 0.3s linear;
  background: #fff;
  z-index: 1;
  height: 150px;
  margin: auto;
  padding: 25px;
  display: inline-block;
  width: 100%;
}
.inplace-confirm .main-body button {
  padding: 5px 43px;
  width: auto;
  height: auto;
  font-size: 17px;
  border-radius: 30px;
  margin-left: 15px;
  margin-top: 10px;
  font-weight: 400;
  color: #fff;
  border: none;
}
.inplace-confirm .main-body button:first-child{
  background: #f3b100;
}
.inplace-confirm .main-body button:last-child{
  background: #000;
}

@media only screen and (min-width: 767px) {
  .inplace-confirm .main-body{
    width:60%;
  }
}