h1,
h2,
h3,
h4,
h5,
h6,
span,
div,
p {
  margin: 0px;
  padding: 0px;
}
html {
  height: 100%;
}
body {
  width: 100%;
  background-size: 100%;
  position: fixed;
  margin: 0px;
  padding: 0px;
  font-family: "Josefin Sans", sans-serif;
  height: 100%;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  background-color: #f5f5f5;
  transition: all 0.3s linear;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
  transition: all 0.3s linear;
}
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f3b100;
  transition: all 0.3s linear;
}
.root {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}
.container {
  height: 100%;
  background: #fff;
  width: 100%;
  display: block;
  margin: auto;
  float: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.navbar {
  box-shadow: 0px 2px 4px #4e4e4e;
  height: auto;
  width: 100%;
  background: #fff;
  align-items: flex-end;
  position: fixed;
  bottom: -1px;
  margin: 0px;
}
.navbar ul {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 0px;
}
.navbar ul li {
  float: left;
  flex: 1;
  text-align: center;
}
.navbar ul li a {
  color: #848484;
  font-size: 18px;
  display: block;
  background-position: center;
  transition: background 0.5s;
  padding: 10px 0px;
  position: relative;
}

.navbar ul li a:hover,
.navbar ul li a:focus {
  outline: none;
  background: #f3b100 radial-gradient(circle, transparent 1%, #deb138 1%) center/15000%;
    color: #fff;
}

.navbar ul li a:active {
  background-color: #fff;
  background-size: 100%;
  transition: background 0s;
}
.search-bar {
  padding: 30px 0px;
  width: 100%;
  align-items: flex-start;
  margin: 0px;
  position: sticky;
}
.search-bar .form-group {
  margin: 0px 20px;
}
.search-bar .form-group {
  position: relative;
}
.search-bar .form-group .fa-search {
  position: absolute;
  right: 12px;
  top: 1px;
  color: #f3b100;
}
.search-bar .form-group input {
  width: 100%;
  height: 35px;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 1px 4px 2px #f1f1f1;
  font-family: "Josefin Sans", sans-serif;
}
.search-bar .form-group input:focus {
  outline: none;
}
.search-bar .form-group input::-webkit-input-placeholder {
  padding-left: 15px;
}
.search-bar .form-group input:-moz-placeholder {
  padding-left: 15px;
}
.search-bar .form-group input::-moz-placeholder {
  padding-left: 15px;
}
.search-bar .form-group input:-ms-input-placeholder {
  padding-left: 15px;
}
.Recipes {
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.Recipes ul {
  padding: 0px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr ;
  height: 100vh;
  overflow: scroll;
  padding: 0px 30px;
  gap:30px
}

.Recipes ul li {
  float: left;
  width: 100%;
  background: #fff;
  margin:15px 0px;
  box-shadow: 0px 1px 4px 3px #f3f3f3;
  border-radius: 15px;
}

.Recipes ul li:hover{
  cursor: pointer;
}
.Recipes ul li:hover .imagewrapper img{
  transform: scale(1.1);
}

.item img {
  width: 100%;
}
.imagewrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}
.imagewrapper img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: all 0.3s linear;
}
.item-content {
  padding: 15px;
}
.item-content h3 {
  font-size: 18px;
}
.item-content p {
  margin: 10px 0px;
  font-size: 12px;
  color: #afafaf;
}
.favourite-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  background: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 0px 1px 2px 1px #afafaf;
}
.favourite-icon:hover{
  cursor: pointer;
}
.favourite-icon span {
  color: #adb5bd;
}
.stars-icon {
  clear: both;
}
.favourite-icon span.active {
  color: #f3b100!important;
}

.stars-icon span {
  color: #f3b100!important;
}

.heading {
  padding: 15px 30px 20px;
}

.heading h3 {
  display: inline-block;
  font-size: 25px;
  padding-top: 5px;
}
.heading .add-recipe-button button {
  background: #f3b100;
  color: #fff;
  padding: 9px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 1px 4px 3px #e2e2e2;
  position: relative;
  border: 2px solid #f3b100;
  display: inline-block;
}
.heading .add-recipe-button button:hover, .heading .add-recipe-button button:focus{
  outline: none;
}
.heading .add-recipe-button button img {
  width: 100%;
}
.heading .float-right {
  display: inline-block;
  float: right;
}

.item-content-sec .float-left {
  float: left;
  display: inline-block;
}
.item-content-sec .float-right {
  float: right;
  display: inline-block;
}

/*********Validation css*******/
.form-group{
  position: relative;
}
.error-block{
  position: absolute;
  top: -33px;
  right: 1px;
  background: white;
  border-radius: 30px;
  color: #000;
  padding: 10px 35px;
  transition: all 0.3s linear;
}
.error-block::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

/*********Header*****/
.bannerImgWrapper{
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100px!important;
  overflow: hidden;
}
.bannerImgWrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);
}

/*************Recipe List******/

.recipeList .search-bar h3{
  color: #fff;
}
.loading-text{
  display: none;
}

#noty_layout__topRight{
  display: none;
}

@media only screen and (min-width: 480px) {
  .Recipes ul{
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 990px) {
  .Recipes ul{
    grid-template-columns: 1fr 1fr 1fr;
  }
}



