
.add-recipe-button button{
    background-position: center;
    transition: background 0.5s;
}
.add-recipe-button button:hover,.add-recipe-button button:focus{
    outline: none;
    background: #f3b100 radial-gradient(circle, transparent 1%, #deb138 1%) center/15000%;
      color: #fff;
}
  
  .add-recipe-button button:active {
    background-color: #fff;
    background-size: 100%;
    transition: background 0s;
  }