.item-content .form-group label {
  width: 100%;
  display: block;
  padding-bottom: 10px;
}
.item-content .form-group input,
.item-content .form-group select,
.item-content .form-group textarea {
  width: 100%;
  display: block;
  height: 40px;
  border: none;
  box-shadow: 0px 1px 3px 1px #dcdcdc;
  border-radius: 30px;
}
.item-content .form-group {
  margin-bottom: 25px;
}
.item-content .form-group input:focus,
.item-content .form-group select:focus,
.item-content .form-group textarea:focus {
  outline: none;
}
.submit-button {
    background: #f3b100;
    color: #fff;
    border: none;
    padding: 10px 70px;
    border-radius: 30px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;
}
.submit-button:hover, .submit-button:focus {
  outline: none;
  background: #f3b100;
}
.submit {
  text-align: center;
}
.add-ingrediants {
  padding-top: 15px;
  display: block;
  font-size: 15px;
  color: #f3b100!important;
}
.img-wrap {
  position: relative;
  width: 60%;
  max-width: 300px;
  height: auto;
  overflow: hidden;
}

.edit-recipe .form-group .img-wrap{
  max-width:100%;
  height: 250px;
  overflow: hidden;
}
.edit-recipe .form-group .img-wrap img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.edit-recipe .addButton{
  margin:20px 0px;
  background: #000;
  color: #fff;
  border: none;
  padding:10px 15px;
  border-radius: 30px;
}
.edit-recipe .close{
  font-weight: 300;
  font-size: 33px;
  opacity: 1;
  line-height: 15px;
}
.edit-recipe .description textarea{
  height: auto!important;
  padding:15px;
  resize: none;
}